.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #f8f8f8,#adb1b4);
    color: #555555;
    
}
.cadastro{
    background: linear-gradient(to bottom, #f8f8f8,#adb1b4);
    color: #555555;
    height: 130vh;
}
.perfil{
    background: linear-gradient(to bottom, #f8f8f8,#adb1b4);
    color: #555555;
    height: 150vh;
}